body{
    background-color: #E1D4C9;
    margin: 0;
    padding: 0;
}
.header{
    width: Fill(1440px);
    height: Hug(724px);
    Gap:20px;
}
.container{
    width: Fill(1440px);
    height: Hug(60px);
    padding: 0px, 40px, 0px, 40px;
}
.header-menu{
    width: Fill(1360px);
    height: Hug(60px);
    justify-content: space-between;
    display: flex;
}
.logo{
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.nav-bar{
    position: relative;
    width: fill(1188px);
    height: fill(60px);
    gap: 40px;
    text-align: center;
}
.nav-bar ul{
    width: 100%;
    height: 100%;
    Gap:40px;
    display: flex;
}
ul li{
    list-style: none;
    cursor: pointer;
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: black;
    /* font-size: 18px; */
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}
a::after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: 
    rgba(64, 63, 61, 1);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 1.5s ease;
}
a:hover::after{
    width: 100%;

}
a:hover::before{
    width: 0%;
}
.favorite-coffee-nav{
    width: Hug(117px);
    height: Hug(28px);
    gap: 4px;
   
}
.about-nav{
    width: hug(48px);
    height: hug(28px);
    gap:4px;
}
.mobile-app-nav{
    width: hug(86px);
    height: hug(28px);
    gap: 4px;
}
.contact-us-nav{
    width: hug(85px);
    height: 28px;
    gap: 4px;
}
.coffee-menu{
 width: hug(72px);
 height: Fixed(28px);
 margin: 10px;
}
.menu-item{
    width: hug(72px);
    height: hug(28px);
    gap:4px;
}
.menu-item button{
    text-decoration: none;
    width: 44px;
    height: 24px;
    font:inter;
     size: 16px;
     line-height: 24px;
     background-color: #E1D4C9;
     border: #E1D4C9;
     cursor: pointer;
     line-height: 24px;
     font-weight:600;
     display: inline-block;
    position: relative;

}
.menu-item{
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 20px;
}
.menu-item::after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: 
    rgba(64, 63, 61, 1);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 1.5s ease;
}
.menu-item:hover::after{
    width: 100%;
}
.menu-item:hover::before{
    width: 0%;
}
.menu-container{
    width:fill(1360px);
    height: hug(1328px);
    gap: 40px;
}
.menu-ofer{
    width: fill(1360px);
    height: hug(236px);
    gap:40px;
    margin: 4% auto;
    text-align: center;
}
.menu-text{
  width:800px;
  height: 150px;
}
.tabs{
    width:hug(361px);
    height: hug(46px);
    gap: 16px;
}
.tab-item{
    width: hug(115px);
    height: hug(46px);
    border-radius: hug(46px);
    border-radius: 100px;
    border: 1px solid black;
    padding: 8px, 16px, 8px, 8px;
    background: none;
    position:relative;
    cursor: pointer;
    margin: 20px 10px;
}
.item{
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
}
#item:hover,
#item.clicked {
  background-color: rgba(102, 95, 85, 1);
}
.item1{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#item1:hover,
#item1.clicked {
background-color: rgba(102, 95, 85, 1);
}
.item2{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#item2:hover,
#item2.clicked {
background-color: rgba(102, 95, 85, 1);
}
.menu-grid{
    width: hug(1360px);
    height: hug(1052px);
    gap: 40px;
    padding: 0px, 40px, 0px, 40px;
    align-items: center;
    margin:3% auto;
  text-align: center;
}
contact{
    width: Fill(1440px);
    height: Hug(450px);
    margin:57% auto -38%;
    display: block;
   justify-content:end;

}
.container-contact{
    width: Fill(1360px);
    height: 100%;
    border-radius: 40px;
    padding:100px;
    gap:100px;
    background: rgba(102, 95,85,1);
    display: flex;
}
.ofer-contact{
 width:fill(530px);
 height: hug(250px);
 gap:40px;
}
.social-icons button{
    border-radius: 100px;
    background: none;
    cursor: pointer;
    margin: 10px auto;
    border-bottom: #E1D4C9;
}
.ofer-contact-text{
    margin: 20px;
}
.contact-info{
    width: fill(530px);
    height: hug(186px);
    gap:40px;
    margin: 1% 10%;
}
.contact-us{
    width:530px;
    height: 30px;
    margin: 30px;
}

.item-link{
    width:hug(262px);
    height:hug(28px);
    gap:40px;
    margin: 1% auto;
}
.contact-contact{
    margin: 30px;
}
#item img{
    text-align: center;
    
}
#item1 img{
    text-align: center;
    width: 30px;
    height: 30px;
    /* border-radius: 100px; */
    border: 1pz solid rgba(193, 182, 173, 1);
}
#item2 img{
    text-align: center;
   
}