body{
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(#c7c7c7 25%, #c7c7c7 74%);
    font-family: system-ui;
  
}

.clearfix{
    clear: both;
}
#main{
   height: 100%;
   width: 800px;
   background-color: white;
   box-shadow: 5px 7px 15px 5px 151b29;
   margin:20px auto;
}

.top-section{
    background-color: rgb(18, 31, 11);
    text-align: center;
    padding: 20px;
}
.profile{
    width: 160px;
    height: 150px;
    border-radius: 50%;
}
.p1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;   
}
.p2 span{
  font-weight: 100;
  color: #c7c7c7;
}
.p2{
    font-size: 20px;
    color: #c7c7c7;
    margin: 0px;
    margin-top: 10px;
}


.p4{
    cursor: pointer;

}
.p4:hover{
    color:rgb(76, 147, 175);
}

.p4 a{
    text-decoration: none;
    color: #151b29;
}

.nav.nav-bar{
    position: fixed;
    width:100%;
    min-height:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(116, 116, 102);
    background: rgba(0, 0, 0, 0.5);
}
.logo{
    width:20%;
    text-align: center;
    font-size: 20px;
    margin: 0% auto;
}
.logo a{
    color: #f3eded;
    font-size: 30px;
    text-decoration: none;
    
}
.logo a:hover{
    color: rgb(76, 147, 175);
}
.menu{
    width:80%;
    display:flex;
    justify-content: end;
    text-decoration: none;
    margin: 0% auto;
    padding: 10px;
}
.menu-Item{
    margin-right:5%;
    position: relative;
  
}
.menu-Item:hover .nav-animation{
    display: block;
}
.nav-animation{
    position:absolute;
    border:1px solid #151b29;
    margin-top:5px;
    width:0%;
    display: none;
    animation-name:animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.menu-Item a{
    text-decoration: none;
    color: #f3eded;
  
}
ol li{
    list-style: none!important;
}

.menu-Item a:hover{
 color: rgb(80, 162, 194);
}

ul{
    list-style-type: none;
}
.education-li{
    list-style-type: none;
    font-size: 15px;
}
.col-4{
    height: 100%;
    box-sizing: border-box;
    padding-left: -50%;
  width: 40%;

}

hr{
    position:relative;
    width:80%;
    margin:0%;
    padding: 2px;
    background: linear-gradient(to right,
     rgb(3, 3, 3) 75%, 
    rgb(169,169,169) 25%,
     rgb(169,169,169)100%);
     
    }
  .p7{
    position:relative;
    width:80%;
    margin:0px;
    background:black; 
     padding: 2px;
     float: left;
  }

  .COL-8{
    width: 60%;
    float: left;
  }
  .line{
  border-left: 1px solid #c7c7c7;
  height: 800px;
  width: 2%;
  margin-top:0px;
  float: left;
  }
  .content-box{
    padding: 0px auto;
    
  }
  .head{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 35px;
  }
  
  .container{
    position:relative;
    display: flex;
    height: 100%;
    width: 100%;
   
  }
  .about-me{
    padding: 15px;
    margin: 15px;
    text-decoration:underline #151b29;
    font-size: 20px;
  }
.about{
    padding: 10px;
    margin: 15px; 
    
    
}
 footer{
   padding: 20px;
   padding-left:5%;
   background-color:#151b29;
   color: #f3eded;
   display: flex;
   margin-top: 15px;
 }

.content-box-lang{
    font-size: 20px;
    text-decoration:underline #151b29;
}
.content-box-skill{
    font-size: 20px;
    text-decoration:underline #151b29;
}
.education{
    text-decoration:underline #151b29;
}
.project{
    text-decoration:underline #151b29;
    
}

.logo-1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.education{
    font-size: 20px;
}
.project{
    font-size: 20px;
   
}
.project li{
    list-style-type: none;
}
.link-rsschool{
    cursor: pointer;
    margin: 0% auto;
    padding-left: 5%;
}
.data{
    margin: 0% auto;
   
    /* padding-left: 12%;   */
}
.link-rsschool:hover{
 color: rgb(52, 102, 102);
}
.links-git a{
    margin: 0% auto;
    /* padding-left:5%; */
}
.github-link li{
    margin: 0% auto;
    /* padding-left:9%;  */

}